<html>
<head>
	<title>Luces Party</title>
</head>
<style>
.box {
	height: 250px; 
	width: 250px; 
	float:left;
	text-align: center;
	margin: 10px;
    border: 1px solid lightgray;
}
span {
	color: white;
	font-size: 40px;
	font-family: 'Arial', 'sans'
}
</style>
<body>
	<div style = "overflow: hidden; width: 1500px">
	<a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=011">
	<div class = 'box' style = "background-color: red">
		<span>Rojo</span>
	</div>
	</a>
	<a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=110">
	<div class = 'box' style = "background-color: blue">
		<span>Azul</span>
	</div>
	</a>
	<a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=101">
	<div class = 'box' style = "background-color: greenyellow">
		<span>Verde</span>
	</div>
	</a>
    <a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=010">
    <div class = 'box' style = "background-color: magenta">
        <span>Magenta</span>
    </div>
    </a>
    <a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=001">
    <div class = 'box' style = "background-color: yellow">
        <span>Yellow</span>
    </div>
    </a>
    <a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=100">
    <div class = 'box' style = "background-color: aqua">
        <span>Aqua</span>
    </div>
    </a>
    <a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=000">
    <div class = 'box' style = "background-color: white">
        <span style = 'color: black'>White</span>
    </div>
    </a>
    <a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=111">
    <div class = 'box' style = "background-color: black">
        <span >Off</span>
    </div>
    </a>
</div>
</body>
</html>