<html>
<head>
	<title>Luces Party</title>
</head>
<style>
.box {
	height: 300px; 
	width: 300px; 
	float:left;
	text-align: center;
	margin: 10px;
}
span {
	color: white;
	font-size: 40px;
	font-family: 'Arial', 'sans'
}
</style>
<body>
	<div style = "overflow: hidden; width: 1000px">
	<a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=100">
	<div class = 'box' style = "background-color: red">
		<span>Rojo</span>
	</div>
	</a>
	<a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=001">
	<div class = 'box' style = "background-color: blue">
		<span>Azul</span>
	</div>
	</a>
	<a href = "https://agent.electricimp.com/daaF-8SeJbUv?led=010">
	<div class = 'box' style = "background-color: green">
		<span>Verde</span>
	</div>
	</a>
</div>
</body>
</html>